body{
    font-family:"Trebuchet MS",
    Helvetica,
    sans-serif;
    text-align: center;
    margin:auto;
    width:70%;
}
.wrapper{
    

}
h1 {
    color:orange;
    font-size: 44px;
    margin-bottom:-12px;
}
