body{
    text-align:center;
    background-color:#EEEEEE;
}
.container{
    width:40%;
    margin:auto;
    border:1px #F5F8FA solid;
    padding:3% 7%;
    background-color: #FFFFFF;
}
.form{
    font-size:21px;
    text-align:left;

}
input{
    padding:7px;
    width:90%;
}
p{
    font-size:15px;
}
.form p{
    color:orange;
}

