body{
    margin:auto;
    text-align: center;
    padding-top:0px;
    
}
.header {
    
    background-color: mediumturquoise;
    color:white;
    border:1px solid;
    padding: 80px;
    
}
.content{
    width:70%;
    margin:auto;
}
.input {
    
    width:40%;
    padding:6px;
    border-radius: 3em;

}